<p [class]="blue">Title is : {{title}}</p>

<input type="text" #name (click)="print(name.value)"><!-- here name is local template variable-->
<!-- Event binding using () -->
<button (click)="print(name.value)">Click</button>
<!-- Property binding using [] -->
<img [src]="imgsrc">

<!-- Two-binding using [(ngModel)] -->
<input type="text" [(ngModel)]="title">

<input type="text" [(ngModel)]="test.new"> {{test.new}}
<a [attr.href]="link">Link</a>
<p [style.color]="blue">hello</p>
<!-- built-in directives -->
<!-- ngClass directive -->
<p [ngClass]="{'myClass': title == 'app', 'mySecClass': title == 'myApp'}">ng Class binding</p>

<!-- *ngIf directive -->
<div *ngIf="title == 'app'; else elseBlock">
  <p>This is true</p>
</div>
<ng-template #elseBlock>
  <div>
    <p>This is false</p>
  </div>
</ng-template>
<table>
  <tr>
    <th>S.no</th>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  <tr *ngFor="let n of arr; let i = index">
    <td>{{i+1}}</td>
    <td>{{n.name}}</td>
    <td>{{n.phone}}</td>
  </tr>
</table>
<table *ngFor = "let array of multiArr">
  <tr>
    <th>Number</th>
  </tr>
  <tr *ngFor="let num of array">
    <td>{{num}}</td>
  </tr>
</table>

<!-- ngSwitch directive -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'app'">This is equal to app</p>
  <p *ngSwitchCase="'myApp'">This is equal to MyApp</p>
  <p *ngSwitchDefault>This is not equal to anything</p>
</div>